/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    src: url("fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: Inter;
    src: url("fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: Inter;
    src: url("fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
  }

  h2 {
    @apply font-extrabold text-2xl pb-4;
  }

  a {
    @apply text-blue-500 hover:text-blue-700 font-normal no-underline hover:underline;
  }
}

.mjx-chtml {
  font-size: 100% !important;
}
